$color-gray: #5b616b;
$color-gray-dark: #323a45;
$color-primary: #0071bc;
$color-primary-darker: #205493;
$color-primary-darkest: #112e51;
$color-white: #ffffff;

$field-border-radius: 0.15em;
$field-border-width: 0.05em;

$button-border-radius: 0.15em;
