@import './constants.scss';

html, body, #root {
  position: relative;
  height: 100%;
}
body, input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}
body, h1, h2, h3 {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}
button {
  background-color: $color-primary;
  border-radius: $button-border-radius;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 1em;
}
.subtle {
  color: $color-gray;
}
